<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body>

    <!-- directive as an html element / tag
    <ng-include src="'header.html'"></ng-include>-->

    <!-- directive as attribute -->
    <header ng-include="'header.html'"></header>

    <div class="content">
      <div ng-controller="NinjaController">
        <!--<h1>{{message}}</h1>-->

        <button type="button" ng-click="order = 'name'" name="button">Order by Name</button>

        <button type="button" ng-click="order = 'belt'" name="button">Order by Belt</button>

        <input type="text" ng-model="search" placeholder="Search for a ninja" name="" value="">
        <ul>
                              <!-- pipe, filter, orderBy, search -->
          <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available"> <!-- ! ng-hide-->
            <h3>{{ninja.name}} - {{ninja.rate | currency: 'E'}}</h3> <!-- this filtre is concern of how only this is displayed -->
            <div class="remove" ng-click="removeNinja(ninja)">X</div>
            <span class="belt" style="background:{{ninja.belt}}">{{ninja.belt}} belt</span>
          </li>
        </ul>
      </div>
    </div>

  </body>
</html>
