<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body>

    <!-- directive as an html element / tag
    <ng-include src="'header.html'"></ng-include>-->

    <!-- directive as attribute -->
    <header ng-include="'header.html'"></header>

    <div class="content">
      <div ng-controller="NinjaController">
        <h1>{{message}}</h1>
        <input type="text" ng-model="search" placeholder="Search for a ninja" name="" value="">
        <ul>
                              <!-- pipe, filter, orderBy, search -->
          <li ng-repeat="ninja in ninjas | orderBy:'-name' | filter: search" ng-show="ninja.available"> <!-- ! ng-hide-->
            {{ninja.name}} - {{ninja.rate | currency: 'E'}} <!-- this filtre is concern of how only this is displayed -->
          </li>
        </ul>
      </div>
    </div>

  </body>
</html>
